.git
.idea
.vscode
.codex-tmp
runtime
logs
*.log

docs
test

**/node_modules
**/dist
**/.vite
**/*.tsbuildinfo

**/target/*
!backend/*/target/*.jar

Dockerfile
docker-compose*.yml
docker-compose*.yaml
