ZHYF_IMAGE_NAMESPACE=zhyf
ZHYF_IMAGE_TAG=dev

ZHYF_DOCKER_NETWORK=zhyf-net
ZHYF_DOCKER_SUBNET=172.30.0.0/24
ZHYF_START_MIDDLEWARE=false
ZHYF_WAIT_APP_HEALTH=true
ZHYF_WAIT_TIMEOUT_SECONDS=240
ZHYF_ADMIN_WEB_BIND=80

ZHYF_RUNTIME_IMAGE=eclipse-temurin:21-jre-alpine
ZHYF_NODE_IMAGE=node:24-alpine
ZHYF_NGINX_IMAGE=nginx:1.27-alpine
ZHYF_POSTGRES_IMAGE=postgres:16-alpine
ZHYF_REDIS_IMAGE=redis:7-alpine
ZHYF_ROCKETMQ_IMAGE=apache/rocketmq:5.3.2
ZHYF_PROMETHEUS_IMAGE=prom/prometheus:v2.54.1
ZHYF_GRAFANA_IMAGE=grafana/grafana:11.2.0

ZHYF_POSTGRES_PASSWORD=change-me
ZHYF_REDIS_PASSWORD=change-me
ZHYF_GRAFANA_ADMIN_USER=admin
ZHYF_GRAFANA_ADMIN_PASSWORD=change-me

ZHYF_DB_HOST=zhyf-postgres
ZHYF_DB_PORT=5432
ZHYF_DB_NAME=zhyf_saas
ZHYF_DB_USERNAME=postgres
ZHYF_REDIS_HOST=zhyf-redis
ZHYF_REDIS_PORT=6379
ZHYF_ROCKETMQ_NAMESRV=zhyf-rocketmq-namesrv:9876

ZHYF_SKYWALKING_ENABLED=true
ZHYF_SKYWALKING_AGENT_DIR=/opt/zhyf/skywalking/agent
ZHYF_SKYWALKING_AGENT_LOG_DIR=/opt/zhyf/logs/skywalking-agent
ZHYF_SKYWALKING_COLLECTOR=zhyf-skywalking-oap:11800

SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=4
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=1
ZHYF_CALLBACK_DISPATCH_ENABLED=false
ZHYF_INTEGRATION_DISPATCH_ENABLED=false
ZHYF_OUTBOX_SCAN_ENABLED=true
ZHYF_MESSAGE_CONSUMER_ENABLED=true
ZHYF_WORKFLOW_CONSUMER_ENABLED=true

ZHYF_JAVA_OPTS=-Xms128m -Xmx384m -XX:+UseG1GC -Dfile.encoding=UTF-8 -XX:+ExitOnOutOfMemoryError
ZHYF_SMALL_JAVA_OPTS=-Xms128m -Xmx256m -XX:+UseG1GC -Dfile.encoding=UTF-8
ZHYF_ORDER_JAVA_OPTS=-Xms128m -Xmx384m -XX:+UseG1GC -Dfile.encoding=UTF-8 -XX:+ExitOnOutOfMemoryError
ZHYF_MESSAGE_JAVA_OPTS=-Xms128m -Xmx384m -XX:+UseG1GC -Dfile.encoding=UTF-8 -XX:+ExitOnOutOfMemoryError
ZHYF_WORKFLOW_JAVA_OPTS=-Xms128m -Xmx384m -XX:+UseG1GC -Dfile.encoding=UTF-8 -XX:+ExitOnOutOfMemoryError
