ZHYF_IMAGE_NAMESPACE=zhyf
ZHYF_IMAGE_TAG=dev

ZHYF_POSTGRES_PASSWORD=change-me
ZHYF_REDIS_PASSWORD=change-me
ZHYF_GRAFANA_ADMIN_USER=admin
ZHYF_GRAFANA_ADMIN_PASSWORD=change-me

ZHYF_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
ZHYF_ORDER_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
ZHYF_MESSAGE_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
ZHYF_WORKFLOW_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
