ZHYF_IMAGE_NAMESPACE=zhyf
ZHYF_IMAGE_TAG=dev

ZHYF_RUNTIME_IMAGE=eclipse-temurin:21-jre-alpine
ZHYF_NODE_IMAGE=node:24-alpine
ZHYF_NGINX_IMAGE=nginx:1.27-alpine
ZHYF_POSTGRES_IMAGE=postgres:16-alpine
ZHYF_REDIS_IMAGE=redis:7-alpine
ZHYF_ROCKETMQ_IMAGE=apache/rocketmq:5.3.2
ZHYF_PROMETHEUS_IMAGE=prom/prometheus:v2.54.1
ZHYF_GRAFANA_IMAGE=grafana/grafana:11.2.0

ZHYF_POSTGRES_PASSWORD=change-me
ZHYF_REDIS_PASSWORD=change-me
ZHYF_GRAFANA_ADMIN_USER=admin
ZHYF_GRAFANA_ADMIN_PASSWORD=change-me

ZHYF_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
ZHYF_ORDER_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
ZHYF_MESSAGE_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
ZHYF_WORKFLOW_JAVA_OPTS=-XX:InitialRAMPercentage=35 -XX:MaxRAMPercentage=65 -XX:+ExitOnOutOfMemoryError
